[submodule "sub-modules/ClangSharp"]
	path = sub-modules/ClangSharp
	url = https://github.com/dotnet/ClangSharp.git
[submodule "sub-modules/raylib"]
	path = sub-modules/raylib
	url = https://github.com/raysan5/raylib.git
